<%- contentFor('content') %>

<div class="jumbotron text-center">
	<h2><span class="fa fa-envelope"></span> We send a confirmation email to your email address.</h2>

	<p><a href="/">back</a> to home page</p>
</div>